.aboutHeading{
    color: white;
    font-size: 50px;
    width: 100%;
}
:target{
    scroll-margin-top: -100px;
}
.profileImage{

    width: 60%;
    /* margin-left: 150px; */
    border-radius: 50%;
    margin-left: 30%;
}

#about{
       display: grid;
       grid-template-columns: repeat(2,1fr);
        /* padding-left: 10%; */
        gap: 50px;
        /* box-shadow: rgba(239, 239, 243, 0.25) 0px 50px 100px -20px, rgba(252, 247, 247, 0.3) 0px 30px 60px -30px, rgba(235, 236, 238, 0.35) 0px -2px 6px 0px inset; */
        margin-bottom: 100px;
        width: 90%;
        /* border: 1px solid white; */
        padding: 20px;
        margin: auto;
        /* position: static; */
}
.text-about{
    text-align: justify;
    font-size: 20px;
    width: 130%;
}
@media screen and (max-width:1050px) {
       #about{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding: 5px;
            margin: auto;
            width: 100%;
        }
    .profileImage{
        width: 70%;
        margin: auto;
        margin-left: 15%;

    }
   
    .text-about p{
    text-align: justify;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    /* line-height: 20px; */
    }
    .aboutHeading{
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .text-about {
        text-align: justify;
        padding: 10px;
        width: 100%;
       
      
    }
}
@media screen and (max-width:450px) {
    #about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        width: 90%;
    }
        .profileImage {
            width: 80%;
            margin: auto;
            justify-content: center;
            margin-left: 10%;
        }
     .text-about {
         text-align: justify;
        padding: 10px;
    }
    .text-about p {
    text-align: justify;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    }
}

