.aboutHeading{
    color: white;
    font-size: 50px;
    width: 100%;
   
}
.para{
      font-size: 1.5rem;
}
.details-full{
    width: 100%;
    font-size: 1.5rem;
    /* padding-left: 5%; */
}
.profileImage{

    width: 90%;
    /* margin-left: 150px; */
    border-radius: 100%;
    margin-left: 20%;
}
#about{
       /* display: grid;
       grid-template-columns: repeat(2,1fr);
       margin: auto; */
       display: flex;
       justify-content: center;
       align-items: center;
        padding-top: 250px;
        width: 90%;
      
}
.text-about{
     display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 100px;
    width: 100%;
     padding: 20px;
     text-align: justify;
     padding-left: 5%;
}

@media screen and (max-width:1050px) {
       #about{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding: 5px;
            width: 90%;
            margin: auto;
            /* margin-left: -10px; */
        }
    .profileImage{
        width: 70%;
        margin: auto;
        margin-left: 15%;

    }
   
    .text-about p{
    text-align: justify;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    /* line-height: 20px; */
    }
    .aboutHeading{
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .text-about {
        text-align: justify;
        padding: 10px;
        width: 100%;
       
      
    }
}
@media screen and (max-width:450px) {
    #about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        padding: 10px;
        width: 90%;
    }
        .profileImage {
            width: 80%;
            margin: auto;
            justify-content: center;
            margin-left: 10%;
        }
     .text-about {
         text-align: justify;
        padding: 10px;
    }
    .text-about p {
    text-align: justify;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    }
}

