.statsHeadLanguage{
    text-align: center;
    padding-top:7%;
    color: white;
    padding-bottom: 20px;
    text-decoration: underline;
}
.gitStats{
width: 100%;
    transition: 2s;
    height: 300px;
    /* background-color: tomato; */
}
#github{
    width: 95%;
    margin: auto;
}
.gitStats:hover{
    /* transform: rotateY(360deg); */
}
.languages{
    width: 80%;
    padding-left: 10%;
    height: 300px;
 
}
.streakImg{
    width: 100%;
        /* padding-left: 10%; */
        height: 300px;
        transition: 2s;
}
.streakImg:hover{
    /* transform: rotateY(360deg); */
}
.mainStats{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    width: 50vw;
    min-width: 80%;
    min-height: 80%;
    /* margin-left: 10%; */
    margin-bottom: 50px;
    margin: auto;
    animation-name: box;
    animation-duration: 2s;
    animation-direction: alternate;
}
@keyframes box{
    from {
            width: 0;
            opacity: 0;
        }
    
        to {
            width: 50vw;
            opacity: none;
    
        }
}
.calender{
    border: 1px solid tomato;
    width: 80%;
    margin: auto;
    padding: 10px;
    transition: 2s;
    animation-name: git;
    animation-direction: alternate-reverse;
    /* box-shadow:tomato(241, 238, 238, 0.35) 0px 5px 15px; */
    /* margin-bottom: 20px; */
    color: tomato;
}
.calender:hover{
    /* transform: rotateY(270deg); */
}

@media screen and (max-width:850px) {
    .mainStats{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
        margin-top: 50px;
        padding-left: 5%;
    }
    .statsHeadLanguage {
            text-align: center;
            margin-top: 30px;
            color: white;
            margin-bottom: 20px;
            text-decoration: underline;
        }
     .languages {
            width: 100%;
           padding-right: 10%;
            /* padding-left: 10%; */
          margin-top: -50px;
        }
    .gitStats{
        width: 100%;
        padding-right: 5%;
        margin-top: -50px;
        }
    .streakImg{
        width: 105%;
        padding-right: 10%;
        margin-top: -50px;
    }
}
@media screen and (max-width:450px) {
    .mainStats {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        margin: auto;
        padding-left: 5%;
        margin-top: 50px;
    }

          .languages {
              width: 100%;
              /* padding-left: 10%; */
            padding-right: 10%;
                /* margin-top: -50px; */
          }
         .gitStats {
             width: 105%;
           margin: auto;
             margin-top: -50%;
         }
    
         .streakImg {
             width: 105%;
             display: block;
             /* padding-right: 10%; */
             margin: auto;
            margin-top: -50%;
         }
}
.gitcalender{
    align-items: center;
    margin-left: 20%;
    width: 100%;
    margin-bottom: 20px;
    color: white;
}