.frontEndSkills{

    width: 200px;
    height: 150px;
    border: 1px solid white;
    align-items: center;
}
.frontEndSection{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-left: 12%;
    margin-top: 50px;
}
.skillsHeading{
  
    text-align: center;
    text-decoration: underline;
}
.backendSkills{
    width: 200px;
        height: 150px;
        border: 1px solid white;
        align-items: center;
}
.backEndSection{
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-left: 12%;
        /* margin: auto; */
   
        margin-top: 50px;
}
.skillsHeadingBack{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
  
}
.skillsHeading{
    margin-top: 50px;
}
.SkillsSection{
    display: block;
    margin: auto;
}
@media screen and (max-width:1040px) {

    .frontEndSection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
        margin-top: 50px;
        padding-left: 20%;

    }
        .SkillsSection {
            display: block;
            margin: auto;
            flex-direction: column;
        }
    .skillsHeading{
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
    .backEndSection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        margin-top: 50px;
    padding-left: 20%;
    }
}
@media screen and (max-width:650px) {
        .frontEndSection{
            display: grid;
            grid-template-columns: repeat(1,1fr);
           margin: auto;
           margin-top: 50px;
            padding-left: 20%;
    
    }
        .SkillsSection {
            display: block;
            margin: auto;
            flex-direction: column;
            justify-content: center;
        }
        .backEndSection{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin: auto;
            margin-top: 50px;
            padding-left: 20%;
    }
    .skillsHeading{
        text-align: center;
    }
    
}
@media screen and (max-width:450px) {

    .frontEndSection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
        padding-left: 20%;
    }
    .backEndSection{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
         margin: auto;
        margin-top: 50px;
        padding-left: 20%;
    }
        .SkillsSection {
            display: block;
            margin: auto;
            flex-direction: column;
            justify-content: center;
        }
        .skillsHeading{
            text-align: center;
        }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
