.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    background-color: rgb(8, 8, 8);
}

.logo{
    padding: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
}
.logo span{
    font-size: 50px;
    color: tomato;
    margin-right: 0px;
}
.headerbg{
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}
.navMenu{
    display: flex;
}

.navMenu li{
    padding: 0 1rem;
  
  
}
.navMenu li a{
    font-size: 0.4rem;
    font-weight: 200;
   
} 
.navMenu li :hover{
    color: tomato;
}
.hamberger {
    display: none;
    
}
.navbarIcons{
    margin-right: 10px;
    margin-top: 5px;
}
@media screen and (max-width : 1040px){
  
  .header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    width: 100%;
  }
    .resumeButton{
       display: initial;
    }
  
    .logo h1{
        font-size: 50px;
    }
    .logo span{
        font-size: 4rem;
    }
        .hamberger{
            display: initial;
            z-index: 10;
            font-size: 30px;
        }
        .navMenu li a{
            font-size: 2rem;
            line-height: 45px;
            font-weight: 600;
            color: rgb(255, 255, 255);
            text-decoration: none;
        }

    .active{
            font-size: 2rem;
            line-height: 45px;
             font-weight: 600;
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin-top: 100%;
            z-index: 10;
            /* background-color:tomato; */
            width: 100%;
            padding: 5px;
            border-radius: 20px;
            padding-right: 20px;
            padding-left: 20px;
            /* color: white; */
     }
}
@media screen and (max-width:450px) {
    .header {
            display: flex;
            justify-content: space-evenly;
            background-color: black;
            width: 100%;
            align-items: center;
            
        }
    .logo{
        font-size: 0.7rem;
       
    }
    .logo span{
        font-size: 2.5rem;
    } 
    .logo h1{
        font-size: 2rem;
    }
    .hamberger {
         display: initial;
         z-index: 10;
        
     }
   
}
.resumeButton{
    padding: 5px;
    width: 130px;
    font-size: 1.2rem;
    margin-top: 0px;
    background-color:tomato;
    color: white;
    border: 0px;
    border-radius: 10px;
    
}
.resumeButton:hover{
    background-color: rgb(34, 33, 33);
}
 
/* @media screen and (max-width : 850px) {
    .navMenu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0;
        right: -100%;
        z-index: -3;
        position: absolute;
        transition: 0.3s;
        transform-style: flat;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamberger {
        display: initial;
    }
}  */