.App {
  width: 100%;
}

.App-logo {
  /* height: 100vh;
  margin: auto; */
  /* width: 15%;
   position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
 animation: App-logo-spin 5s linear 2s infinite alternate; */

}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin alternate 5s both;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  perspective: 100%;
}

.flex{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 0%;
}
.fade{
  margin-top: 45%;
  font-size: 100px;
  text-align: center;
  /* margin-left: 50%; */
}
.fade2{
  font-size: 100px;
  margin-top: 50%;
  text-align: center;
  color: tomato;
}
